<div class="example-container">

  <form [formGroup]="dumpForm" (ngSubmit)="ngSubmit()">
    
    <div class="row">
      <label class=".mat-h4, .mat-subheading-1"> SELECT A MODE: </label>
      <mat-radio-group aria-label="Select a Mode" formControlName="mode">
          <mat-radio-button value="Personal" >Personal</mat-radio-button>
          <mat-radio-button value="Business" >Business</mat-radio-button>
      </mat-radio-group>
    </div>

  <mat-form-field>
      <mat-label> Enter a link</mat-label> 
    <input matInput type="url" formControlName="link" placeholder="Link" required>
    <mat-error *ngIf="dumpForm.get('link').errors?.required"> Link is required </mat-error>
  </mat-form-field> 

  <mat-form-field>
      <mat-label>Input a name for the link above...</mat-label> 
    <input matInput type="text" formControlName="name" placeholder="Name" required>
    <mat-error *ngIf="dumpForm.get('name').errors?.required"> Name is required </mat-error>
    <mat-error *ngIf="dumpForm.get('name').errors?.minlength"> Name must be longer than 3 characters </mat-error>
  </mat-form-field>

  <mat-form-field>
     <mat-label>Add a description that explains the content of the link</mat-label> 
    <textarea matInput type="text" #description formControlName="description" placeholder="Description" 
    cdkTextareaAutosize required>
    </textarea>
    <mat-hint align="end">{{description.value.length}} / 250</mat-hint>
    <mat-error *ngIf="dumpForm.get('description').errors?.required"> Description is required </mat-error>
    <mat-error *ngIf="dumpForm.get('description').errors?.minlength"> Description must be longer than 10 characters </mat-error>
    <mat-error *ngIf="dumpForm.get('description').errors?.maxlength"> Description must not be longer than 250 characters </mat-error>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
      <mat-label> add keywords that will help us decide who to share your link with</mat-label> 
    <mat-chip-list #chipList formControlName="tags" required >
      <mat-chip *ngFor="let tag of alltags" [selectable]="selectable"
               [removable]="removable" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input [disabled]="alltags.length == 3" placeholder="Input keywords"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
            >
    </mat-chip-list>
    <mat-error *ngIf="dumpForm.get('tags').errors?.required"> you must add at least one tag </mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
 <!-- <mat-checkbox formControlName="advanced">Advanced</mat-checkbox> -->

 <!-- <ng-container *ngIf="dumpForm.get('advanced').value">

    <mat-form-field>
       <mat-label> Enter SEO QUERIES</mat-label> 
     <input matInput type="text" formControlName="queries" placeholder="Enter a Possible question a user might type in that your page has an answer to">
   </mat-form-field>

  </ng-container> -->

  <!--<button mat-raised-button type="submit" [disabled]="!dumpForm.valid">Submit</button> -->
  <div class="row"  fxLayoutAlign="end center">
   <button mat-raised-button >Cancel</button>
    <button mat-raised-button type="button" (click)="onCreate()" [disabled]="!dumpForm.valid">Create</button>
  </div>

 </form> 
</div>
