<mat-toolbar color="primary" class="nav">
    <mat-icon>list</mat-icon>
    <span class=".mat-h3 .mat-subheading-2">{{title}}</span>
    </mat-toolbar>

  <div class="container" >
    <div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let link of links">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a matLine [href]="link.link" target="_blank">{{ link.name }}</a>
          </mat-panel-title>
          <mat-panel-description>
            {{link.tags}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{link.description}}
      </mat-expansion-panel>
      <mat-divider *ngIf="links > 0"></mat-divider>
    </mat-accordion>
  </div>
  </div>


<app-addbutton></app-addbutton>