<mat-toolbar>
  <mat-toolbar-row>
    <h4 class="mat-h4 mat-subheading-1"><span>Dump</span></h4>

    <span class="toolbar-spacer"></span>
    <mat-icon class="More-icon" aria-hidden="false" aria-label="more">more_vert</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row class="menu-row">

    <nav mat-tab-nav-bar aria-label="menu-link" animationDuration="2000ms">
      <a mat-tab-link class="menu-link" [routerLink]="['/home']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        Home
      </a>
      <a mat-tab-link class="menu-link" [routerLink]="['/mylist']" routerLinkActive #rlm="routerLinkActive" [active]="rlm.isActive">
        My List
      </a>
      <a mat-tab-link class="menu-link" [routerLink]="['/mycards']" routerLinkActive #rln="routerLinkActive" [active]="rln.isActive">
        My Cards
      </a>
      <a mat-tab-link class="menu-link" [routerLink]="['/curiosity']" routerLinkActive #rlo="routerLinkActive" [active]="rlo.isActive">
        Curiosity Circle
      </a>
    </nav>


  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
