 <mat-toolbar color="primary" *ngIf="!isScreenSmall(); else icon" >

   <mat-toolbar-row>
     <span class=".mat-h2 .mat-title">Dump</span>
     <span class="example-spacer"></span>
     <div fxLayout="row" fxLayoutAlign="space-around center">
       <button mat-button [routerLink]="['/home']" routerLinkActive>
         Home
       </button>
       <button mat-button [routerLink]="['/mylist']" routerLinkActive>
         My List
       </button>
       <button mat-button [routerLink]="['/mycards']" routerLinkActive>
         My Cards
       </button>
       <button mat-button [routerLink]="['/curiosity']" routerLinkActive>
         Curiosity web
       </button>
       <mat-icon class="example-icon" aria-hidden="false" aria-label="more options">more_vert</mat-icon>
     </div>
   </mat-toolbar-row>
 </mat-toolbar>

 <ng-template #icon>
   <mat-toolbar color="primary">

     <mat-toolbar-row>
       <span class=".mat-h2 .mat-title">Dump</span>
       <span class="example-spacer"></span>
       <div fxLayout="row" fxLayoutAlign="space-around center">
         <button mat-icon-button aria-label=" Home icon" [routerLink]="['/home']" routerLinkActive>
           <mat-icon>home</mat-icon>
         </button>
         <button mat-icon-button aria-label="list" [routerLink]="['/mylist']" routerLinkActive>
           <mat-icon>list</mat-icon>
         </button>
         <button mat-icon-button aria-label="card icon" [routerLink]="['/mycards']" routerLinkActive>
           <mat-icon>class</mat-icon>
         </button>
      <!--   <button mat-icon-button aria-label="circle icon" [routerLink]="['/curiosity']" routerLinkActive>
           <mat-icon>language</mat-icon>
         </button> -->
         <mat-icon class="example-icon" aria-hidden="false" aria-label="more options">more_vert</mat-icon>
       </div>
     </mat-toolbar-row>

   </mat-toolbar>
 </ng-template>


 
   <router-outlet></router-outlet>
 
